body {
  font-family: sans-serif;
  text-align: center;
  background-image: url('https://www.eleanorbowmer.co.uk/cdn/shop/products/dog-wallpaper.png?v=1749038185');
  background-size: cover;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}


button {
  padding: 8px 12px;
  margin-left: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: rgb(13, 73, 113);
  color: white;
  border-radius: 4px;
}

#randomBtn {
  background-color: #0e6a35;
  margin: 20px;
}

#searchBtn {
  margin: 20px;
}

#block {
  margin-top: 90px;
  border: 2px solid #333;
  padding: 50px;
  background-color: white; opacity: 0.8;
  display: inline-block;
}
