body {
  font-family: sans-serif;
  text-align: center;
  background-color: #b1b0b0;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}


button {
  padding: 8px 12px;
  margin-left: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 4px;
}

button.random {
  background-color: #47ec8c;
}



